/* 
Victoria Wellington
Main css file to go with assignment two
*/

@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);

body {
	font-family: "Lato";
	font-size: 18px;
	font-weight: 300;

	background-image: url('../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a:link {
	color:#0000AA;
	text-decoration: none;
}

a:visited {
	color:#0000AA;
	text-decoration: none;
}

 a:hover, a:focus {
    color: #0000EE;
  }

#menu {
	background-color: rgba(207, 205, 140, 0.5);
	padding: 1em;
}

/*headers */
h1 , h2, h3 {
	font-family: "Raleway";
	font-weight: 300;
}

h1{
	font-size: 300%;
	margin: 0;
}

h2 {
	color: #505050;
	font-size: 150%;
}

h3 {
	color: #505050;
	font-size: 125%;
} 

header {
	padding: 1em;
	background-color: #FA5A0F;
	border-bottom: 5px solid #EA4A00;
	color: #FFFFFF;
	font-family: 'Raleway';
}

#tagline {
		color: #EEEEEE;
		margin: 0;
		font-size: 120%;
}


#restraunt-info {
	padding: 1em;

}

#about {
	padding: 1em;

}

dl {
	font-weight: 400;
}

dd {
	font-size: 80%;
	font-style: italic;
	margin-left: 1em;
	margin-bottom: 1em;
}

html {
	margin-left: 30%;
	
}

footer {
	padding: 1em;
	border-top: 5px solid #EC791F;
	background-color: #FC892F;
	font-size: 80%;
	text-align: right;

}

main {
	background-image: url('../img/ricepaper_v3.png');
	opacity: 0.9;
}
